@use "../theme.scss" as theme;

$datetime-width: 220px;
$datetime-height: 30px;

.widget-datetime {
  min-width: $datetime-width;
  min-height: $datetime-height;
  border-radius: 999px;
  border: solid 1px transparent;
  background-color: transparent;

  transition: background-color 160ms ease-out;

  &:hover {
    background-color: theme.$widget-bg-active;
    border: solid 1px theme.$widget-border;
  }
}

.widget-datetime-text {
  font-size: 16px;
  font-weight: 600;
}
