@use "./theme.scss" as theme;

$bar-base: 46px;
$bar-skirt: calc($bar-base / 2);

window.bar-window {
  background-color: transparent;
}

.bar {
  color: transparent;
  background-color: transparent;

  > .bar-chrome {
    > .bar-rail-layer {
      min-height: $bar-base;

      > .bar-rail-row {
        min-height: $bar-base;

        > .bar-rail {
          min-height: $bar-base;
          background-color: theme.$bar-bg;
        }
      }

      > .bar-content {
        min-height: $bar-base;
        padding: 0 1.5rem;

        > .bar-section {
          min-height: $bar-base;
        }
      }
    }

    > .bar-skirt-row {
      min-height: $bar-skirt;
      background-color: transparent;
      color: transparent;

      > .bar-skirt-spacer {
        background-color: transparent;
        color: transparent;
      }

      > .bar-skirt {
        min-width: $bar-skirt;
        min-height: $bar-skirt;
        color: theme.$bar-bg;
      }
    }
  }
}
