.global-menu-close-layer {
  background-color: transparent;
}

.global-menu-close-scrim {
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0.01);
  background-image: none;
  box-shadow: none;
  text-shadow: none;

  &:hover,
  &:active,
  &:checked,
  &:focus {
    border: none;
    background-color: rgba(0, 0, 0, 0.01);
    background-image: none;
    box-shadow: none;
    text-shadow: none;
  }
}
